//////LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

//////FORM SEARCH
.search {
    // background: blue;
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;

        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            background-color: var(--color-grey-light-3);
        }

    }

    //siblings
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

///USER NAV
.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        height: 100%;

        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color:  var(--color-grey-light-2);
        cursor: pointer;
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}



//////SIDE NAVIGATION
.side-nav {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 4.5rem;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
        position: relative;


        &:not(:last-child){
            margin-bottom: 1.9rem;
        }

        //set  when clicked link
        &:active:before {
            background-color: orange;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);

        transform: scaleY(0); //state scale

        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // .2s is delay
                    background-color .2s;
    }

    //to action 
    &__item:hover::before , 
    &__item--active::before {
        transform: scaleY(1); //change state
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;

        position: relative;
        z-index: 10;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}





//////LEGAL TEXT
.legal {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    padding: 4rem;
}



//////GAllery
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

//////OVERVIEW
.overview {
    display: flex;
    border-bottom: var(--line);
    
    align-items: center;
    background-color: #fff;



    &__heading {
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        
        letter-spacing: 1px;
    }

    &__stars {
        margin-right: auto;

        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__icon-location {
        margin-right: .4rem;
    }

    &__location {
        display: flex;
        align-items: center;

        margin-right: 2rem;
    }

    &__rating {
        align-self: stretch;

        background-color: var(--color-primary);
        color: #fff;
        padding: 0 1.2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
    }

    &__rating-count {
        font-size: .4rem;
    }

}

//////BUTTON INLINE
.btn-inline {
    font-size: inherit;
    border: none;
    padding-bottom: .4rem;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    color: var(--color-primary);
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline:none;
        animation: pulse 1s infinite;
    }

}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 1px 2rem 4rem rgba(0,0,0,.35);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

//PARAGRAPH
.paragraph:not(:last-of-type){
    margin-bottom: 3rem;
}



//LIST
.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    margin: 2rem 0;
    
    border-top: var(--line);

    &__item {
        flex: 0 0 50%;
        margin-bottom: 1.1rem;

    }

    &__item:before {
        content: "";
        display: inline-block;
        margin-right: .7rem;

        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;

        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

        width: 1rem;
        height: 1rem;
        
    }
}

//RECOMEND
.recomend {
    display: flex;
    align-items: center;
    border-top: var(--line);

    &__count {
        font-size: 1.2rem;
        margin-right: auto;
        color: var(--color-grey-dark-3);
    }

    &__friends {
       display: flex;

        
    }

    &__photo {
        box-sizing: content-box;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-left: -2rem;
        border: 3px solid #fff;
    }
}



//REVIEW
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;


    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
        
    }

    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.8rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--color-primary);
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }

}